.title {
  font-family: Outfit, var(--mantine-font-family);
  font-weight: 500;
}

.subtitle {
  color: var(--mantine-color-dimmed);
  font-size: var(--mantine-font-size-sm);
  text-align: center;
  margin-top: 5px;
}

.subtitle > a {
  color: white;
}

.subtitle > a:hover {
  text-decoration: underline;
}

.loginButton {
  background: linear-gradient(to right, #6366f1, #4f46e5);
}
